doctype html
html
  head
    title
      = gears_title @gears_title
    = stylesheet_link_tag "gears/gears", media: "all"
    = javascript_include_tag "gears/gears"
    = yield :head_inject

    meta name="viewport" content="width=device-width, initial-scale=1"

    = csrf_meta_tags

  body
    .nav.navbar.navbar-default
      .container
        .pull-left
          .navbar-header
            button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
              span class="icon-bar"
              span class="icon-bar"
              span class="icon-bar"
            a.navbar-brand href="#{gears_root_url}" = Gears.project_name
        .pull-right.user-info
          - if current_gears_user_session
            ul
              li = raw t('gears.welcome', name: "#{link_to(current_gears_user.name, gears_user_path(current_gears_user))}")
              - if current_gears_user.admin?
                li = link_to fa_icon('users'), gears_users_path
              li = link_to fa_icon('sign-out'), gears_user_session_path, method: :delete
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li = link_to(fa_icon('dashboard'), gears_root_path)
            = render partial: 'gears/layouts/navigation'

    .container
      = flash_messages
      .row
        .col-sm-8.col-md-8
          == yield
        .col-sm-4.col-md-4
          - if content_for?(:sidebar)
            ul.nav.nav-pills.nav-stacked
              == yield :sidebar