doctype html
html
  head
    title Oturum Aç
      | Gears CMS
    = stylesheet_link_tag "gears/gears", media: "all"
    = javascript_include_tag "gears/gears"
    = csrf_meta_tags
  body
    .container
      .row
        .col-md-12.col-sm-12
          == yield