= simple_form_for @record, multipart: true do |f|
  = f.error_notification

  = f.input :email
  = f.input :login
  = f.input :name
  = f.input :password
  = f.input :password_confirmation
  = f.input :role, as: :select, collection: Gears::User.roles.keys

  = f.button :submit