h2 = resource.model_name
hr
= render 'gears/shared/search_bar'
table.table.table-striped.table-hovered
  thead
    tr
      th = sort_link(@search, :email)
      th = sort_link(@search, :login)
      th = sort_link(@search, :name)
      th = sort_link(@search, :role)
      th
  tbody
    - @collection.each do |record|
      tr
        td = record.email
        td = record.login
        td = record.name
        td = record.role

        td.text-right
          = link_to fa_icon('edit'), edit_gears_user_path(record), class: 'btn btn-xs btn-primary'
          | &nbsp;
          = link_to fa_icon('trash'), gears_user_path(record), class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: t('gears.delete_confirmation') }


= paginate @collection, views_prefix: 'gears/'

= content_for :sidebar do
  li
    = link_to fa_icon('plus-square', text: t('gears.add_new', resource_name: resource.model_name.human.capitalize)), new_gears_user_path