h2 = "#{@record.id} Düzenle"
hr

table.table.table-bordered.table-striped
  tbody
    tr
      td = resource.human_attribute_name(:email)
      td = @record.email
    tr
      td = resource.human_attribute_name(:login)
      td = @record.login
    tr
      td = resource.human_attribute_name(:name)
      td = @record.name
    tr
      td = resource.human_attribute_name(:role)
      td = @record.role
= content_for :sidebar do
  li
    = link_to fa_icon('plus-square', text: t('gears.add_new', resource_name: resource.model_name.human.capitalize)), new_gears_user_path
  li
    = link_to fa_icon('edit', text: t('gears.edit')), edit_gears_user_path(@record.id)
  li
    = link_to fa_icon('trash', text: t('gears.delete')), gears_user_path(@record.id), method: :delete, data: {confirm: t('gears.delete_confirmation')}
  li
    = link_to fa_icon('th-list', text: t('gears.back_to_list')), gears_users_path