$ ->
    $('[data-datetime-picker]').datetimepicker
        locale: '<%= I18n.default_locale %>'
        useCurrent: false # Important! See bootstrap-datetimepicker issue #1075
        showTodayButton: true
        showClear: true
        showClose: true