.row
  .col-xs-3
    = f.attribute_fields do |a|
      = a.attribute_select nil, class: 'form-control'
  .col-xs-3
    = f.predicate_select only: %i(cont not_cont eq not_eq gt lt blank null), class: 'form-control'
  .col-xs-5
    = f.value_fields do |v|
      = v.text_field :value, class: 'form-control'
  .col-xs-1
    = link_to fa_icon('remove'), '#', class: 'btn btn-danger btn-xs remove_search_fields'