div.search.well.well-sm
  a.toggle-search-fields.btn.btn-primary.btn-xs href="#"
    = fa_icon('caret-down', text: t('gears.conditions'))

  #search-fields.form-search
    = search_form_for @search_route, class: 'form-search' do |f|

      = f.condition_fields do |c|
        = render 'gears/shared/condition_fields', f: c

      = link_to_add_search_fields fa_icon('plus', text: t('gears.new_condition')), f, :condition

      div.form-group
        = f.submit t('gears.search'), class: 'btn btn-xs btn-primary'