#search-fields {
  display: none;
}

.form-search {
  .form-control,select {
    @extend .form-control;
    padding: 2px;
    margin-right: 4px;
    font-size: 12px;
    height: auto;
  }

}

.user-info {
  padding: 15px;
  color: $navbar-default-brand-color;
  font-size: 11px;
  ul {
    list-style: none;
  }

  li {
    float:left;
    border-right: 2px solid darken($navbar-default-brand-color, 30%);
    padding: 3px 8px 3px 8px;
    &:last-child {
      border-right: 0;
    }
    color: $navbar-default-color;
    a {
      color: $navbar-default-link-color;
      &:hover {
        color: $navbar-default-link-hover-color;
      }
    }
  }
}