h2 = resource.model_name
hr
= render 'gears/shared/search_bar'
table.table.table-striped.table-hovered
  thead
    tr
      <%- attributes.each do |attribute| -%>
      th = sort_link(@search, :<%= attribute.name %>)
      <%- end -%>
      th
  tbody
    - @collection.each do |record|
      tr
        <%- attributes.each do |attribute| -%>
        td = record.<%= attribute.name %>
        <%- end %>
        td.text-right
          = link_to fa_icon('edit'), edit_gears_<%= singular_name %>_path(record), class: 'btn btn-xs btn-primary'
          | &nbsp;
          = link_to fa_icon('trash'), gears_<%= singular_name %>_path(record), class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: t('gears.delete_confirmation') }


= paginate @collection, views_prefix: 'gears/'

= content_for :sidebar do
  li
    = link_to fa_icon('plus-square', text: t('gears.add_new', resource_name: resource.model_name.human.capitalize)), new_gears_<%= singular_name %>_path