h2
  = t('gears.new_record', resource_name: @record.model_name.human)
hr
== render 'form'

= content_for :sidebar do
  li
    = link_to fa_icon('th-list', text: t('gears.back_to_list')), gears_<%= plural_name %>_path