h2 = "#{@record.id} Düzenle"
hr

table.table.table-bordered.table-striped
  tbody
<%- attributes.each do |attribute| -%>
    tr
      td = resource.human_attribute_name(:<%= attribute.name %>)
      td = @record.<%= attribute.name %>
<%- end -%>
= content_for :sidebar do
  li
    = link_to fa_icon('plus-square', text: t('gears.add_new', resource_name: resource.model_name.human.capitalize)), new_gears_<%= singular_name %>_path
  li
    = link_to fa_icon('edit', text: t('gears.edit')), edit_gears_<%= singular_name %>_path(@record.id)
  li
    = link_to fa_icon('trash', text: t('gears.delete')), gears_<%= singular_name %>_path(@record.id), method: :delete, data: {confirm: t('gears.delete_confirmation')}
  li
    = link_to fa_icon('th-list', text: t('gears.back_to_list')), gears_<%= plural_name %>_path