= simple_form_for @user, url: gears_user_session_path, method: :post do |f|
  h2 = t('gears.please_signin')
  = f.input :login, required: true, focus: true
  = f.input :password, required: true
  = f.submit t('gears.signin'), class: 'btn btn-primary'